#userInfo {
  display: none;
}
#replacePass {
  display: none;
}
#saveInfo {
  display: none;
}
#updatePass {
  display: none;
}
#editInfo {
  display: none;
}
.margin-show-hide-pass {
  right: 7px !important;
}
