<!-- loading -->
<div class="loading" *ngIf="loading">Loading&#8230;</div>

<div class="main-content">
  <div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <h2>Tạo tài khoản quản trị hệ thống</h2>
            </div>
            <form role="form" novalidate [formGroup]="createUserAdmin">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                  </div>
                  <input class="form-control" placeholder="Tên đăng nhập" type="text" trim="blur" maxlength="50"
                    formControlName="userName" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                </div>
                <div *ngIf="submitted && f.userName.errors">
                  <span class="msg-invalid" *ngIf="f.userName.errors.required">{{'common.invalid' | translate}}</span>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Mật khẩu" type="password" trim="blur" maxlength="512"
                    formControlName="passWord" [ngClass]="{ 'is-invalid': submitted && f.passWord.errors }"
                    [type]="textTypePass ? 'text' : 'password'">
                  <div class="input-group-append">
                    <span class="input-group-text input-group-custome">
                      <i class="fa" [ngClass]="{ 'fa-eye-slash': !textTypePass, 'fa-eye': textTypePass }"
                        (click)="toggleTextTypePass()"></i>
                    </span>
                  </div>
                </div>
                <div *ngIf="submitted && f.passWord.errors">
                  <span class="msg-invalid" *ngIf="f.passWord.errors.required">{{'common.invalid' | translate}}</span>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <input type="radio" formControlName="isRole" value="0"
                    [ngClass]="{ 'is-invalid': submitted && f.isRole.errors }" />&nbsp;&nbsp;Quản trị hệ thống
                  <div *ngIf="submitted && f.isRole.errors">
                    <span class="msg-invalid" *ngIf="f.isRole.errors.required">{{'common.invalid' | translate}}</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <input type="radio" formControlName="isRole" value="2"
                    [ngClass]="{ 'is-invalid': submitted && f.isRole.errors }" />&nbsp;&nbsp;Chuyên viên xử lý
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4">Khu vực <sup class="msg-invalid">(*)</sup></label>
                <div class="col-md-8" tooltip="Lựa chọn khu vực cho tài khoản">
                  <select class="form-control selectpicker" formControlName="khuvucQuanly"
                    data-none-results-text="Không tìm thấy kết quả" data-live-search="true"
                    [ngClass]="{ 'is-invalid': submitted && f.khuvucQuanly.errors }">
                    <option value="">---Chọn---</option>
                    <option *ngFor="let d of lstKhuvucQly" [ngValue]="d.id">{{d.name}}</option>
                  </select>
                  <div *ngIf="submitted && f.khuvucQuanly.errors">
                    <span class="msg-invalid"
                      *ngIf="f.khuvucQuanly.errors.required">{{'common.invalid' | translate}}</span>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary mt-4" (click)="createUser()"
                  tooltip="Tạo mới tài khoản">Tạo tài khoản</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; {{ namHientai | date: "yyyy" }} <a href="javascript:void(0)" class="font-weight-bold ml-1"
            target="_blank">UET Team</a>
        </div>
      </div>
      <div class="col-xl-6">
        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link" target="_blank">UET Team</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link" target="_blank">About Us</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link" target="_blank">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
