.bg-gradient-danger {
  background: linear-gradient(87deg, #4b67e6 0, #4b67e6 100%) !important;
}
.border-custom {
  border-style: groove !important;
  border-width: 2px;
}
table {
  border-collapse: collapse;
}
table,
td,
th {
  border: 1px solid #525f7f;
}
.td-custom {
  width: 25px;
}
.table-sophieu {
  margin-right: 0px;
}
.td-sophieu {
  width: 150px;
  height: 35px;
  font-size: 14px;
}
p.title-custom {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 0.2cm;
}
.title-note {
  width: 100%;
  font-size: 14px;
  text-align: center;
}
.label-custom {
  font-weight: bold;
  text-transform: uppercase;
}
.size-cus {
  font-size: 14px;
}
.margin-custom {
  margin-left: 50px;
}
.margin-custom-1 {
  margin-left: 80px;
}
.margin-control {
  margin-top: -15px;
}
.size-cus-1 {
  font-size: 11px;
}

.empty-line {
  float: left;
  width: 90%;
  height: calc(1.5em + 0.75rem + 2px);
  border-bottom: 1px dashed #c2cad8;
  // padding: 0.375rem 0rem;
  font-weight: bold;
}
