<!-- loading -->
<div class="loading" *ngIf="loading">Loading&#8230;</div>

<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- view ho so -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header card-custome">
          <h2 class="m-b-0 card-title card-title-custome">Hồ sơ đăng ký</h2>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-md-4 text-right">
              <u><span class="fw-bold">{{hosoItem.tenSoGddt | uppercase}}</span>&emsp;MÃ SỞ:</u>
            </div>
            <div class="col-md-2">
              <table>
                <tr>
                  <td class="td-custom text-center fw-bold">{{maSo1}}</td>
                  <td class="td-custom text-center fw-bold">{{maSo2}}</td>
                </tr>
              </table>
            </div>
            <div class="col-md-6 text-center fw-bold">
              CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM <br>
              <u>Độc lập - Tự do - Hạnh phúc</u>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <table class="table-sophieu">
                <tr>
                  <td class="td-sophieu"><i>Số phiếu:</i></td>
                </tr>
              </table>
            </div>
          </div>
          <p class="title-custom">
            PHIẾU ĐĂNG KÝ DỰ THI KỲ THI TỐT NGHIỆP THPT<br>
            VÀ XÉT TUYỂN VÀO ĐẠI HỌC; CAO ĐẲNG
          </p>
          <p class="title-note">
            <i>(Trước khi kê khai Phiếu đăng ký dự thi (ĐKDT), thí sinh phải đọc kỹ các mục và HƯỚNG DẪN GHI PHIẾU,<br>
              những điểm chưa rõ thí sinh có thể hỏi cán bộ tiếp nhận ĐKDT để được hướng dẫn)</i>
          </p>
          <div class="form-group">
            <span class="label-custom margin-custom">a. thông tin cá nhân</span><br>
            <span class="size-cus margin-custom">
              <span class="fw-bold">1. Họ, chữ đệm và tên của thí sinh</span>&nbsp;<i>(Viết đúng như giấy khai sinh bằng
                chữ in hoa có dấu)</i>
            </span>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-7">
              <span class="fw-bold margin-custom empty-line">{{hosoItem.hotenThisinh | uppercase}}</span>
            </div>
            <div class="col-md-3">
              <span class="size-cus">Giới <i>(Nữ ghi 1, Nam ghi 0)</i> </span>
            </div>
            <div class="col-md-2">
              <table>
                <tr>
                  <td class="td-custom text-center fw-bold">{{hosoItem.maGioitinh}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-7">
              <span class="size-cus margin-custom">
                <span class="fw-bold">2. Ngày, tháng và 2 số cuối của năm sinh</span><br>
                <i class="margin-custom">(Nếu ngày và tháng sinh nhỏ hơn 10 thì ghi số 0 ở ô đầu)</i>
              </span>
            </div>
            <div class="col-md-1">
              <table>
                <tr>
                  <td class="td-custom text-center fw-bold">{{ngay1}}</td>
                  <td class="td-custom text-center fw-bold">{{ngay2}}</td>
                </tr>
              </table>
              <i class="size-cus">&ensp;Ngày</i>
            </div>
            <div class="col-md-1">
              <table>
                <tr>
                  <td class="td-custom text-center fw-bold">{{thang1}}</td>
                  <td class="td-custom text-center fw-bold">{{thang2}}</td>
                </tr>
              </table>
              <i class="size-cus">&ensp;Tháng</i>
            </div>
            <div class="col-md-1">
              <table>
                <tr>
                  <td class="td-custom text-center fw-bold">{{nam1}}</td>
                  <td class="td-custom text-center fw-bold">{{nam2}}</td>
                </tr>
              </table>
              <i class="size-cus">&ensp;Năm</i>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-6">
              <span class="margin-custom">
                <span class="size-cus fw-bold">3. a) Nơi sinh</span>&nbsp;<i class="size-cus">(tỉnh hoặc thành phố):</i>
                <span class="fw-bold margin-custom">{{hosoItem.noiSinh}}</span><br>
                <span class="margin-custom size-cus fw-bold">&emsp;c) Quốc tịch nước ngoài</span>
                &nbsp;<svg *ngIf="hosoItem.isNational === 0" width="1em" height="1em" viewBox="0 0 16 16"
                  class="bi bi-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                </svg>
                <svg *ngIf="hosoItem.isNational === 1" width="1em" height="1em" viewBox="0 0 16 16"
                  class="bi bi-x-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                  <path fill-rule="evenodd"
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
              </span>
            </div>
            <div class="col-md-6">
              <span class="margin-custom">
                <span class="size-cus fw-bold">b) Dân tộc</span>&nbsp;<i class="size-cus">(Ghi bằng chữ):</i>
                <span class="fw-bold margin-custom">{{hosoItem.danToc}}</span>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-8">
              <span class="size-cus margin-custom">
                <span class="fw-bold">4. Số Chứng minh nhân dân/ Thẻ căn cước công dân</span><i> (Ghi mỗi chữ số vào một
                  ô)</i>
              </span>
            </div>
            <div class="col-md-4">
              <table>
                <tr>
                  <td class="td-custom text-center fw-bold">{{cmnd1}}</td>
                  <td class="td-custom text-center fw-bold">{{cmnd2}}</td>
                  <td class="td-custom text-center fw-bold">{{cmnd3}}</td>
                  <td class="td-custom text-center fw-bold">{{cmnd4}}</td>
                  <td class="td-custom text-center fw-bold">{{cmnd5}}</td>
                  <td class="td-custom text-center fw-bold">{{cmnd6}}</td>
                  <td class="td-custom text-center fw-bold">{{cmnd7}}</td>
                  <td class="td-custom text-center fw-bold">{{cmnd8}}</td>
                  <td class="td-custom text-center fw-bold">{{cmnd9}}</td>
                  <td class="td-custom text-center fw-bold">{{cmnd10}}</td>
                  <td class="td-custom text-center fw-bold">{{cmnd11}}</td>
                  <td class="td-custom text-center fw-bold">{{cmnd12}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-4">
              <span class="size-cus margin-custom">
                <span class="fw-bold">5. Hộ khẩu thường trú</span>
              </span>
            </div>
            <div class="col-md-1">
              <table>
                <tr>
                  <td class="td-custom text-center fw-bold">{{tinh1}}</td>
                  <td class="td-custom text-center fw-bold">{{tinh2}}</td>
                </tr>
              </table>
              <i class="size-cus-1">Mã tỉnh (Tp)</i>
            </div>
            <div class="col-md-1">
              <table>
                <tr>
                  <td class="td-custom text-center fw-bold">{{huyen1}}</td>
                  <td class="td-custom text-center fw-bold">{{huyen2}}</td>
                </tr>
              </table>
              <i class="size-cus-1">Mã huyện (quận)</i>
            </div>
            <div class="col-md-1">
              <table>
                <tr>
                  <td class="td-custom text-center fw-bold">{{xa1}}</td>
                  <td class="td-custom text-center fw-bold">{{xa2}}</td>
                </tr>
              </table>
              <i class="size-cus-1">Mã xã (phường)</i>
            </div>
            <div class="col-md-5">
              <i class="size-cus-1">Ghi rõ tên tỉnh (thành phố), huyện (quận), xã (phường) vào dòng trống sau:</i>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-12">
              <span class="fw-bold margin-custom empty-line">
                tỉnh {{hosoItem.tenTinhthanhTt}}, {{hosoItem.tenQuanhuyenTt}}, {{xaphuongThuongtru}}
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-6">
              <span class="margin-custom">
                <span class="size-cus fw-bold"><i>Hộ khẩu thường trú trên 18 tháng tại khu vực I:</i></span>
                &nbsp;<i *ngIf="hosoItem.hkttKvi === 0" class="fa fa-square-o" aria-hidden="true"></i>
                <i *ngIf="hosoItem.hkttKvi === 1" class="fa fa-window-close-o" aria-hidden="true"></i>
              </span>
            </div>
            <div class="col-md-6">
              <span class="margin-custom">
                <span class="size-cus fw-bold"><i>Hộ khẩu thường trú trên 18 tháng tại xã đặc biệt khó khăn:</i></span>
                &nbsp;<i *ngIf="hosoItem.hkttDbkk === 0" class="fa fa-square-o" aria-hidden="true"></i>
                <i *ngIf="hosoItem.hkttDbkk === 1" class="fa fa-window-close-o" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-12">
              <span class="size-cus margin-custom">
                <span class="fw-bold">6. Nơi học THPT hoặc tương đương</span>&nbsp;<i>(Ghi tên trường và nơi trường
                  đóng: huyện
                  (quận), tỉnh (thành phố) và ghi mã tỉnh, mã trường):</i>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control" *ngFor="let school of hosoItem.lstShool; index as i;">
            <div class="col-md-3">
              <span class="size-cus margin-custom">
                <span class="fw-bold">&emsp;{{school.tenKhoilop}}:</span>
              </span>
            </div>
            <div class="col-md-6">
              <span class="size-cus empty-line">
                <span *ngIf="school.loaiThisinh === 2">{{school.idThpt ? school.school.schoolName + ', ' : ''}}
                  {{school.idHuyen ? school.district.districtName + ', ' : ''}}
                  {{school.idTinh ? school.province.provinceName : ''}}</span>
                <span *ngIf="school.loaiThisinh !== 2">{{school.idTinh ? school.province.provinceName : ''}}</span>
              </span>
            </div>
            <div class="col-md-3 row">
              <table>
                <tr>
                  <td class="td-custom text-center fw-bold">
                    {{school.idTinh ? school.province.provinceCode.charAt(0) : '0'}}</td>
                  <td class="td-custom text-center fw-bold">
                    {{school.idTinh ? school.province.provinceCode.charAt(1) : '0'}}</td>
                </tr>
              </table>
              <table>
                <tr *ngIf="school.loaiThisinh === 0">
                  <td class="td-custom text-center fw-bold">9</td>
                  <td class="td-custom text-center fw-bold">0</td>
                  <td class="td-custom text-center fw-bold">0</td>
                </tr>
                <tr *ngIf="school.loaiThisinh === 1">
                  <td class="td-custom text-center fw-bold">8</td>
                  <td class="td-custom text-center fw-bold">0</td>
                  <td class="td-custom text-center fw-bold">0</td>
                </tr>
                <tr *ngIf="school.loaiThisinh === 2">
                  <td class="td-custom text-center fw-bold">{{school.idThpt ? school.school.schoolCode.charAt(0) : '0'}}
                  </td>
                  <td class="td-custom text-center fw-bold">{{school.idThpt ? school.school.schoolCode.charAt(1) : '0'}}
                  </td>
                  <td class="td-custom text-center fw-bold">{{school.idThpt ? school.school.schoolCode.charAt(2) : '0'}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-3">
              <span class="size-cus margin-custom">
                <span class="fw-bold">&emsp;Tên lớp 12:</span>
              </span>
            </div>
            <div class="col-md-6">
              <span class="size-cus empty-line">
                {{hosoItem.tenLop12}}
              </span>
            </div>
            <div class="col-md-3 row">
              <i class="size-cus">Mã tỉnh</i>
              <i class="size-cus">&ensp;Mã trường</i>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-3">
              <span class="size-cus margin-custom">
                <span class="fw-bold">7. Điện thoại:</span>
              </span>
            </div>
            <div class="col-md-3">
              <span class="size-cus empty-line">
                {{hosoItem.sdtThisinh}}
              </span>
            </div>
            <div class="col-md-1">
              <span class="size-cus">
                <span class="fw-bold">Email:</span>
              </span>
            </div>
            <div class="col-md-5">
              <span class="size-cus empty-line">
                {{hosoItem.emailThisinh}}
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-6">
              <span class="size-cus margin-custom">
                <span class="fw-bold">8. Họ tên, điện thoại và địa chỉ người liên hệ:</span>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-12">
              <span class="fw-bold margin-custom empty-line">
                {{hosoItem.thongtinLienhe}}
              </span>
            </div>
          </div>
          <div class="form-group">
            <span class="label-custom margin-custom">b. thông tin đăng ký thi</span><br>
            <span class="size-cus margin-custom">
              <span class="fw-bold">9. Thí sinh có dùng kết quả thi để xét tuyển sinh ĐH, CĐ&emsp;</span>
              <i *ngIf="hosoItem.xettuyenDhcd === 0" class="fa fa-square-o" aria-hidden="true"></i>
              <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.xettuyenDhcd === 1" class="fa fa-window-close-o"
                aria-hidden="true"></i>
            </span>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-6">
              <span class="size-cus margin-custom">
                <span class="fw-bold">10. Thí sinh học chương trình THPT&emsp;</span>
                <i *ngIf="hosoItem.chuongtrinhHocthisinh === 1" class="fa fa-square-o"></i>
                <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.chuongtrinhHocthisinh === 0"
                  class="fa fa-window-close-o"></i>
              </span>
            </div>
            <div class="col-md-6">
              <span class="size-cus margin-custom text-right">
                <span class="fw-bold">Thí sinh học chương trình GDTX&emsp;</span>
                <i *ngIf="hosoItem.chuongtrinhHocthisinh === 0" class="fa fa-square-o"></i>
                <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.chuongtrinhHocthisinh === 1"
                  class="fa fa-window-close-o"></i>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-6">
              <span class="size-cus margin-custom">
                <span class="fw-bold">11. Thí sinh tự do chưa tốt nghiệp THPT&emsp;</span>
                <i *ngIf="hosoItem.thisinhTudoTn !== 0" class="fa fa-square-o"></i>
                <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.thisinhTudoTn === 0"
                  class="fa fa-window-close-o"></i>
              </span>
            </div>
            <div class="col-md-6">
              <span class="size-cus margin-custom text-right">
                <span class="fw-bold">Thí sinh tự do đã tốt nghiệp THPT&emsp;</span>
                <i *ngIf="hosoItem.thisinhTudoTn !== 1" class="fa fa-square-o"></i>
                <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.thisinhTudoTn === 1"
                  class="fa fa-window-close-o"></i>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-4">
              <span class="size-cus margin-custom">
                <span class="fw-bold">12. Dự thi tại Hội đồng thi:&emsp;</span>
              </span>
            </div>
            <div class="col-md-3">
              <span class="size-cus empty-line">
                {{hosoItem.tenSoGddt | uppercase}}
              </span>
            </div>
            <div class="col-md-3">
              <span class="size-cus margin-custom">
                <span class="fw-bold">Mã hội đồng&emsp;</span>
              </span>
            </div>
            <div class="col-md-2">
              <table>
                <tr>
                  <td class="td-custom text-center fw-bold">{{maSo1}}</td>
                  <td class="td-custom text-center fw-bold">{{maSo2}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-3">
              <span class="size-cus margin-custom">
                <span class="fw-bold">13. Nơi ĐKDT:&emsp;</span>
              </span>
            </div>
            <div class="col-md-3">
              <span class="size-cus empty-line">
                {{hosoItem.tenNoiDkdt}}
              </span>
            </div>
            <div class="col-md-3">
              <span class="size-cus margin-custom">
                <span class="fw-bold">Mã đơn vị ĐKDT&emsp;</span>
              </span>
            </div>
            <div class="col-md-3">
              <table>
                <tr>
                  <td class="td-custom text-center fw-bold">{{madt1}}</td>
                  <td class="td-custom text-center fw-bold">{{madt2}}</td>
                  <td class="td-custom text-center fw-bold">{{madt3}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-12">
              <span class="size-cus margin-custom">
                <span class="fw-bold">14. Đăng ký bài thi/môn thi&nbsp;</span><i>(Thí sinh đăng ký dự thi bài thi nào
                  thì đánh dấu "<b>X</b>" vào ô bài thi tương ứng, riêng đối với </i><br>
                <i class="margin-custom">bài thi Ngoại ngữ, thí sinh điền vào ô trống mã tương ứng với ngôn ngữ lựa
                  chọn, cụ thể như sau: <b>N1</b> - Tiếng Anh;</i><br>
                <i class="margin-custom"><b>N2</b> - Tiếng Nga; <b>N3</b> - Tiếng Pháp; <b>N4</b> - Tiếng Trung Quốc;
                  <b>N5</b> - Tiếng Đức; <b>N6</b> - Tiếng Nhật).</i>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-12">
              <span class="size-cus margin-custom-1">
                <span class="fw-bold">a) Đăng ký bài thi&nbsp;</span><i>(Thí sinh chỉ được đăng ký một bài thi tổ hợp
                  KHTN hoặc KHXH):</i>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <span class="size-cus margin-custom">
                <span>Toán&emsp;</span>
                <i *ngIf="hosoItem.monToan === 0" class="fa fa-square-o"></i>
                <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.monToan === 1" class="fa fa-window-close-o"></i>
              </span>
            </div>
            <div class="col-md-2">
              <span class="size-cus margin-custom">
                <span>Ngữ văn&emsp;</span>
                <i *ngIf="hosoItem.monNguvan === 0" class="fa fa-square-o"></i>
                <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.monNguvan === 1" class="fa fa-window-close-o"></i>
              </span>
            </div>
            <div class="col-md-2">
              <span class="size-cus margin-custom row">
                <span>Ngoại ngữ&emsp;</span>
                <i *ngIf="hosoItem.monNgoaingu === 0" class="fa fa-square-o"></i>
                <table *ngIf="hosoItem.monNgoaingu === 1">
                  <tr>
                    <td class="td-custom text-center fw-bold">{{hosoItem.monNgoainguChitiet}}</td>
                  </tr>
                </table>
              </span>
            </div>
            <div class="col-md-2">
              <span class="size-cus margin-custom">
                <span>KHTN&emsp;</span>
                <i *ngIf="hosoItem.monKhtn === 0" class="fa fa-square-o"></i>
                <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.monKhtn === 1" class="fa fa-window-close-o"></i>
              </span>
            </div>
            <div class="col-md-2">
              <span class="size-cus margin-custom">
                <span>KHXH&emsp;</span>
                <i *ngIf="hosoItem.monKhxh === 0" class="fa fa-square-o"></i>
                <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.monKhxh === 1" class="fa fa-window-close-o"></i>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-12">
              <span class="size-cus margin-custom-1">
                <span class="fw-bold">b) Đăng ký môn thi thành phần trong bài thi tổ hợp&nbsp;</span><i>(Chỉ dành cho
                  thí sinh tự do không chọn dự thi toàn bài thi tổ hợp)</i>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-2">
              <span class="size-cus margin-custom">
                <span>Vật lý&emsp;</span>
                <i *ngIf="hosoItem.monVatly === 0" class="fa fa-square-o"></i>
                <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.monVatly === 1" class="fa fa-window-close-o"></i>
              </span>
            </div>
            <div class="col-md-2">
              <span class="size-cus margin-custom">
                <span>Hóa học&emsp;</span>
                <i *ngIf="hosoItem.monHoahoc === 0" class="fa fa-square-o"></i>
                <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.monHoahoc === 1" class="fa fa-window-close-o"></i>
              </span>
            </div>
            <div class="col-md-2">
              <span class="size-cus margin-custom">
                <span>Sinh học&emsp;</span>
                <i *ngIf="hosoItem.monSinhhoc === 0" class="fa fa-square-o"></i>
                <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.monSinhhoc === 1" class="fa fa-window-close-o"></i>
              </span>
            </div>
            <div class="col-md-2">
              <span class="size-cus margin-custom">
                <span>Lịch sử&emsp;</span>
                <i *ngIf="hosoItem.monLichsu === 0" class="fa fa-square-o"></i>
                <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.monLichsu === 1" class="fa fa-window-close-o"></i>
              </span>
            </div>
            <div class="col-md-2">
              <span class="size-cus margin-custom">
                <span>Địa lý&emsp;</span>
                <i *ngIf="hosoItem.monDialy === 0" class="fa fa-square-o"></i>
                <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.monDialy === 1" class="fa fa-window-close-o"></i>
              </span>
            </div>
            <div class="col-md-2">
              <span class="size-cus margin-custom">
                <span>GDCD&emsp;</span>
                <i *ngIf="hosoItem.monGdcd === 0" class="fa fa-square-o"></i>
                <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.monGdcd === 1" class="fa fa-window-close-o"></i>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-12">
              <span class="size-cus margin-custom">
                <span class="fw-bold">15. Đăng ký miễn thi ngoại ngữ trong xét công nhận tốt nghiệp THPT hoặc đăng ký để
                  xét tuyển sinh:&nbsp;</span><i>(Thí sinh ghi loại chứng chỉ</i><br>
                <i class="margin-custom">ngoại ngữ đủ điều kiện theo quy định hoặc ghi rõ là thành viên đội tuyển quốc
                  gia dự thi Olympic quốc tế môn Ngoại ngữ để được miễn thi</i><br>
                <i class="margin-custom">hoặc thí sinh ghi loại chứng chỉ ngoại ngữ để đăng ký xét tuyển theo yêu cầu
                  của trường ĐH, CĐ):&emsp;<span *ngIf="hosoItem.chungchiNgoaingu === ''">...........</span>
                  <b *ngIf="hosoItem.chungchiNgoaingu !== ''">{{hosoItem.chungchiNgoaingu}}</b></i>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-12">
              <span class="size-cus margin-custom-1 row">
                <span class="fw-bold">Điểm thi&nbsp;</span><i>(Nếu Chứng chỉ có điểm thi, thí sinh ghi điểm vào ô
                  này):&emsp;</i>
                <span *ngIf="hosoItem.diemthiChungchiNn === ''">......</span>
                <table *ngIf="hosoItem.diemthiChungchiNn !== ''">
                  <tr>
                    <td class="td-custom text-center fw-bold">{{hosoItem.diemthiChungchiNn}}</td>
                  </tr>
                </table>
              </span>
            </div>
          </div>
          <div class="form-group">
            <span class="label-custom margin-custom">c. thông tin để xét công nhận tốt nghiệp THPT&nbsp;</span><i>(Thí
              sinh dự thi chỉ để lấy kết quả xét tuyển vào ĐH, CĐ thì bỏ qua phần này)</i><br>
            <span class="size-cus margin-custom">
              <span class="fw-bold">16. Đăng ký bài/môn thi xin bảo lưu&emsp;</span><i>(Thí sinh ghi rõ điểm bài/môn thi
                xin được bảo lưu vào ô tương ứng):</i>
            </span>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <span class="size-cus margin-custom row">
                <span>Toán&emsp;</span>
                <svg *ngIf="!baoluuToan" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-square"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                </svg>
                <table *ngIf="baoluuToan">
                  <tr>
                    <td class="td-custom text-center fw-bold">{{diemToanBaoluu}}</td>
                  </tr>
                </table>
              </span>
            </div>
            <div class="col-md-2">
              <span class="size-cus margin-custom row">
                <span>Ngữ văn&emsp;</span>
                <svg *ngIf="!baoluuVan" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-square"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                </svg>
                <table *ngIf="baoluuVan">
                  <tr>
                    <td class="td-custom text-center fw-bold">{{diemVanBaoluu}}</td>
                  </tr>
                </table>
              </span>
            </div>
            <div class="col-md-2">
              <span class="size-cus margin-custom row">
                <span>Lịch sử&emsp;</span>
                <svg *ngIf="!baoluuSu" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-square"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                </svg>
                <table *ngIf="baoluuSu">
                  <tr>
                    <td class="td-custom text-center fw-bold">{{diemSuBaoluu}}</td>
                  </tr>
                </table>
              </span>
            </div>
            <div class="col-md-2">
              <span class="size-cus margin-custom row">
                <span>Địa lý&emsp;</span>
                <svg *ngIf="!baoluuDia" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-square"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                </svg>
                <table *ngIf="baoluuDia">
                  <tr>
                    <td class="td-custom text-center fw-bold">{{diemDiaBaoluu}}</td>
                  </tr>
                </table>
              </span>
            </div>
            <div class="col-md-2">
              <span class="size-cus margin-custom row">
                <span>GDCD&emsp;</span>
                <svg *ngIf="!baoluuGD" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-square"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                </svg>
                <table *ngIf="baoluuGD">
                  <tr>
                    <td class="td-custom text-center fw-bold">{{diemGdBaoluu}}</td>
                  </tr>
                </table>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <span class="size-cus margin-custom row">
                <span>Vật lý&emsp;</span>
                <svg *ngIf="!baoluuLy" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-square"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                </svg>
                <table *ngIf="baoluuLy">
                  <tr>
                    <td class="td-custom text-center fw-bold">{{diemLyBaoluu}}</td>
                  </tr>
                </table>
              </span>
            </div>
            <div class="col-md-2">
              <span class="size-cus margin-custom row">
                <span>Hóa học&emsp;</span>
                <svg *ngIf="!baoluuHoa" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-square"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                </svg>
                <table *ngIf="baoluuHoa">
                  <tr>
                    <td class="td-custom text-center fw-bold">{{diemHoaBaoluu}}</td>
                  </tr>
                </table>
              </span>
            </div>
            <div class="col-md-2">
              <span class="size-cus margin-custom row">
                <span>Sinh học&emsp;</span>
                <svg *ngIf="!baoluuSinh" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-square"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                </svg>
                <table *ngIf="baoluuSinh">
                  <tr>
                    <td class="td-custom text-center fw-bold">{{diemSinhBaoluu}}</td>
                  </tr>
                </table>
              </span>
            </div>
            <div class="col-md-2">
              <span class="size-cus margin-custom row">
                <span>Ngoại ngữ&emsp;</span>
                <svg *ngIf="!baoluuNN" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-square"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                </svg>
                <table *ngIf="baoluuNN">
                  <tr>
                    <td class="td-custom text-center fw-bold">{{diemNNBaoluu}}</td>
                  </tr>
                </table>
              </span>
            </div>
            <div class="col-md-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <div class="card shadow">
        <div class="card-body">
          <div class="form-group">
            <span class="label-custom margin-custom">d. thông tin dùng để xét tuyển sinh vào đại học, cao
              đẳng&nbsp;</span><br>
            <i class="margin-custom">(Thí sinh dự thi chỉ để xét công nhận tốt nghiệp THPT không cần khai phần
              này).</i><br>
            <span class="size-cus margin-custom row">
              <span class="fw-bold">17. Đối tượng ưu tiên tuyển sinh:&nbsp;</span><i>Khoanh tròn vào loại đối tượng ưu
                tiên được hưởng ( <span *ngIf="hosoItem.maDtUutien === '01'" class="circle-custom">01</span>
                <span *ngIf="hosoItem.maDtUutien !== '01'">01</span>
                ,&nbsp;<span *ngIf="hosoItem.maDtUutien === '02'" class="circle-custom">02</span>
                <span *ngIf="hosoItem.maDtUutien !== '02'">02</span>
                ,&nbsp;<span *ngIf="hosoItem.maDtUutien === '03'" class="circle-custom">03</span>
                <span *ngIf="hosoItem.maDtUutien !== '03'">03</span>
                ,&nbsp;<span *ngIf="hosoItem.maDtUutien === '04'" class="circle-custom">04</span>
                <span *ngIf="hosoItem.maDtUutien !== '04'">04</span>
                ,&nbsp;<span *ngIf="hosoItem.maDtUutien === '05'" class="circle-custom">05</span>
                <span *ngIf="hosoItem.maDtUutien !== '05'">05</span>
                ,&nbsp;<span *ngIf="hosoItem.maDtUutien === '06'" class="circle-custom">06</span>
                <span *ngIf="hosoItem.maDtUutien !== '06'">06</span>
                ,&nbsp;<span *ngIf="hosoItem.maDtUutien === '07'" class="circle-custom">07</span>
                <span *ngIf="hosoItem.maDtUutien !== '07'">07</span> )&emsp;</i>
              <table>
                <tr>
                  <td class="td-custom text-center fw-bold">{{dtg1}}</td>
                  <td class="td-custom text-center fw-bold">{{dtg2}}</td>
                </tr>
              </table>
            </span>
            <i class="size-cus margin-custom">Sau đó ghi ký hiệu vào 2 ô bên cạnh, nếu không thuộc diện ưu tiên thì để
              trống.</i>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-12">
              <span class="size-cus margin-custom row">
                <span class="fw-bold">18. Khu vực tuyển sinh&nbsp;</span><i>Thuộc khu vực nào khoanh tròn vào ký hiệu
                  của khu vực đó: <span *ngIf="hosoItem.maKhuvucTs === '1'" class="circle-custom">KV1</span>
                  <span *ngIf="hosoItem.maKhuvucTs !== '1'">KV1</span>
                  ,&nbsp;<span *ngIf="hosoItem.maKhuvucTs === '2NT'" class="circle-custom">KV2-NT</span>
                  <span *ngIf="hosoItem.maKhuvucTs !== '2NT'">KV2-NT</span>
                  ,&nbsp;<span *ngIf="hosoItem.maKhuvucTs === '2'" class="circle-custom">KV2</span>
                  <span *ngIf="hosoItem.maKhuvucTs !== '2'">KV2</span>
                  ,&nbsp;<span *ngIf="hosoItem.maKhuvucTs === '3'" class="circle-custom">KV3</span>
                  <span *ngIf="hosoItem.maKhuvucTs !== '3'">KV3</span> .&emsp;</i>
                <table>
                  <tr>
                    <td class="td-custom text-center fw-bold">{{hosoItem.maKhuvucTs}}</td>
                  </tr>
                </table>
              </span>
              <i class="size-cus margin-custom">Sau đó ghi mã khu vực (<b>1</b> - KV1, <b>2NT</b> - KV2-NT, <b>2</b> -
                KV2, <b>3</b> - KV3) vào ô trống.</i>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-12">
              <span class="size-cus margin-custom row">
                <span class="fw-bold">19. Năm tốt nghiệp THPT hoặc tương đương:&nbsp;</span><i>(Ghi đủ 4 số của năm tốt
                  nghiệp vào ô)&emsp;</i>
                <table>
                  <tr>
                    <td class="td-custom text-center fw-bold">{{namtn1}}</td>
                    <td class="td-custom text-center fw-bold">{{namtn2}}</td>
                    <td class="td-custom text-center fw-bold">{{namtn3}}</td>
                    <td class="td-custom text-center fw-bold">{{namtn4}}</td>
                  </tr>
                </table>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-12">
              <span class="size-cus margin-custom">
                <span class="fw-bold">20. Thí sinh dự thi để xét tuyển học liên thông vào ĐH/CĐ, đã tốt
                  nghiệp:&emsp;TC&emsp;
                  <i *ngIf="hosoItem.maLienthong !== '0'" class="fa fa-square-o"></i>
                  <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.maLienthong === '0'"
                    class="fa fa-window-close-o"></i>
                  &emsp;CĐ&emsp;
                  <i *ngIf="hosoItem.maLienthong !== '1'" class="fa fa-square-o"></i>
                  <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.maLienthong === '1'"
                    class="fa fa-window-close-o"></i>
                  &emsp;ĐH&emsp;
                  <i *ngIf="hosoItem.maLienthong !== '2'" class="fa fa-square-o"></i>
                  <i style="color: rgb(10, 10, 10);" *ngIf="hosoItem.maLienthong === '2'"
                    class="fa fa-window-close-o"></i>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-12">
              <span class="margin-custom">
                <span class="size-cus fw-bold">21. Thí sinh đăng ký nguyện vọng xét tuyển sinh vào đại học, cao
                  đẳng</span><br>
                <span class="margin-custom size-cus">&emsp;- Các nguyện vọng xếp theo thứ tự ưu tiên từ trên xuống dưới
                  (nguyện vọng 1 là nguyện vọng ưu tiên cao nhất);</span><br>
                <span class="margin-custom size-cus">&emsp;- Thí sinh đăng ký nguyện vọng nào không đúng với quy định
                  của các trường thì nguyện vọng đó sẽ không được nhập</span><br>
                <span class="margin-custom size-cus">&emsp;vào hệ thống phần mềm để trường xét tuyển.</span><br>
                <span class="margin-custom size-cus row">
                  <span>&emsp;- Tổng số nguyện vọng (bắt buộc phải ghi):&emsp;</span>
                  <table>
                    <tr>
                      <td class="td-custom text-center fw-bold">{{totalNv}}</td>
                    </tr>
                  </table>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control">
            <div class="col-md-12">
              <table class="table-custom-margin">
                <thead>
                  <tr>
                    <td class="text-center fw-bold" style="width: 10%;">Thứ tự nguyện vọng ưu tiên</td>
                    <td class="text-center fw-bold" style="width: 15%">Mã trường (chữ in hoa)</td>
                    <td class="text-center fw-bold" style="width: 20%;">Mã ngành/ Nhóm ngành</td>
                    <td class="text-center fw-bold" style="width: 40%;">Tên ngành/ Nhóm ngành</td>
                    <td class="text-center fw-bold" style="width: 15%;">Mã tổ hợp xét tuyển</td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of hosoItem.lstExam;">
                    <td class="text-center">{{item.thutuNv}}</td>
                    <td style="vertical-align: middle;">{{item.maTruong}}</td>
                    <td style="vertical-align: middle;">{{item.maNhomnganh}}</td>
                    <td style="vertical-align: middle;">{{item.tenNhomnganh}}</td>
                    <td style="vertical-align: middle;">{{item.maTohopMonxt}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="form-group">
            <span class="label-custom margin-custom">đ. Cam đoan và xác nhận&nbsp;</span><br>
            <span class="margin-custom-1">Tôi xin cam đoan những lời khai trong Phiếu ĐKDT này là đúng sự thật. Nếu sai
              tôi xin chịu xử lý theo các quy định hiện</span><br>
            <span class="margin-custom">hành của Bộ Giáo dục và Đào tạo.</span>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <table class="table-formsignDate">
                <tr>
                  <td class="text-center">Ngày ... tháng ... năm 20....</td>
                  <td class="text-center">{{ngayGuiStr}}</td>
                </tr>
                <tr>
                  <td class="text-center"><span class="fw-bold">NƠI NHẬN ĐĂNG KÝ DỰ THI</span><br>
                    <i class="size-cus">(Đại diện ký, ghi rõ họ tên và đóng dấu)</i>
                  </td>
                  <td class="text-center fw-bold">Chữ ký của thí sinh</td>
                </tr>
                <tr>
                  <td class="text-center"></td>
                  <td class="text-center fw-bold pb-long"><br>{{hosoItem.hotenThisinh}}</td>
                </tr>
              </table>
            </div>
          </div>
          <!-- link các tệp tin đính kèm -->
          <div class="form-group row margin-control">
            <div class="col-md-12">
              <span class="size-cus margin-custom row">
                <span>Các tệp tin đính kèm:<br></span>
              </span>
            </div>
          </div>
          <div class="form-group row margin-control" *ngFor="let dkem of hosoItem.lstDinhkem; index as i;">
            <div class="col-md-8" *ngIf="dkem.fileGuiid !== null">
              <span class="size-cus margin-custom">
                <span class="fw-bold">&emsp;{{dkem.fileTypeName}}:</span>
              </span>
            </div>
            <div class="col-md-4" *ngIf="dkem.fileGuiid !== null">
              <span class="size-cus margin-custom">
                <a target="_blank" href="javascript:void(0)" (click)="viewFile(dkem)">{{dkem.fileName}}</a>
                <a href="javascript:void(0)">
                  <app-doc-viewer ></app-doc-viewer>
                </a>
              </span>
            </div>
          </div>

          <div class="form-group text-center">
            <button type="button" class="btn btn-primary" (click)="clickBack()" tooltip="Quay lại">
              <i class="fa fa-backward"></i>&nbsp;Quay lại
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
