<footer class="footer">
  <div class="container">
    <!-- <span class="copyright">&copy; 2020 Trường đại học Công nghệ - ĐHQGHN</span> -->
    <span class="copyright">&copy; 2020 Bộ Giáo dục và Đào tạo</span>
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-footer">
          <li>
            <i class="fa fa-copyright" aria-hidden="true"></i>
            <span>Bản quyền thuộc: Nhóm Dự án - Khoa CNTT, đại học Công nghệ, ĐHQGHN</span>
          </li>
          <li>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>Địa chỉ: E3, số 144, đường Xuân Thủy, phường Dịch Vọng Hậu, Quận Cầu Giấy, Hà Nội</span>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer">

          <li>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>Điện thoại: (024) 37547 461</span>
          </li>
          <li>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <span>Email: uet@vnu.edu.vn</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
