@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
.login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    position: fixed;
}
.login-box {
    width: 360px;
    // height: 60%;
    margin: 0 auto;
}
.login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px;
}
.login-box .social {
    display: block;
    margin-bottom: 30px;
}
#resetform {
    display: none;
}
.login-sidebar {
    padding: 0px;
    margin-top: 0px;
}
.login-sidebar .login-box {
    right: 0px;
    position: absolute;
    height: 100%;
}
.card{
    border-radius: 8px !important;
}
a:hover{
    cursor: pointer !important;
}

input[type=text], input[type=password] {
  padding: 20px;
  font-size: 15px !important;
}

.userIcon {
  background: white url('../../assets/images/rsz_user.png') no-repeat 0.9% center;
}

.passwordIcon {
  background: white url('../../assets/images/rsz_password.png') no-repeat 0.9% center;
}

.custom-control {
  padding-left: 0rem !important;
}

.emailIcon {
  background: white url('../../assets/images/rsz_email.png') no-repeat 0.9% center;
}

#doimatkhauform {
  display: none;
}
.quenmk{
  text-align: right !important;
  position: relative !important;
}
.margin-show-hide-pass {
  right: 7px !important;
  top: 9px !important;
}
