/*body*/
section {
  margin-bottom: 20px;
}

/*main right*/
.main-right .head {
  background: #337ab7;
  color: #fff;
  padding: 6px 10px;
  margin-bottom: 0;
  font-size: 16px;
  border-radius: 5px 5px 0px 0px;
}
.main-right .content {
  border-bottom: 1px solid rgb(204, 204, 204);
  border-left: 1px solid rgb(204, 204, 204);
  border-right: 1px solid rgb(204, 204, 204);
  padding: 10px;
  margin: 0;
  border-radius: 0px 0px 5px 5px;
}
.main-right .content .nav-right {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.main-right .content .nav-right li {
  margin: 6px 0;
  // background: url(../../../assets/client-libs/images/li1.png) no-repeat left 8px;
  padding-left: 15px;
  margin-left: 15px;
}
.container-scroller {
  font-size: 15px !important;
}
.canle {
  text-align: right;
  position: relative;
}
button {
  font-size: 15px !important;
  border-radius: 5px !important;
}
.input-group-custome {
  top: 9px !important;
}
.form-control {
  height: calc(2.5em + 0.75rem + 2px) !important;
  font-size: 12px !important;
}
option {
  font-size: 14px !important;
}
.pagingEndTable {
  margin-top: 9px;
}
