<!-- loading -->
<div class="loading" *ngIf="loading">Loading&#8230;</div>

<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <div class="main-panel main-panel-custome">
      <!-- header -->
      <!-- <app-header></app-header> -->
      <!-- Page body -->
      <div class="content-wrapper">

        <div class="row page-titles">
          <div class="col-md-12 align-self-center">
            <ol class="breadcrumb col-md-6">
              <li class="breadcrumb-item"><a href="/regis/home">{{'pro.home' | translate}}</a></li>
              <li class="breadcrumb-item active">{{'common.btn.search' | translate}}</li>
            </ol>
            <ol class="breadcrumb col-md-6 canle">
              <li>Chào <b>{{userLogin.lastName}}</b>!</li>
              <li><a href="javascript: void(0);" (click)="viewInfo(1)">Thông tin cá nhân</a></li>
              <li><a href="javascript: void(0);" (click)="viewInfo(2)">Đổi mật khẩu</a></li>
              <li><a href="#" (click)="logout()">Đăng xuất </a></li>
            </ol>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 grid-margin stretch-card frm-primary">
            <div class="card">
              <div class="card-header card-custome">
                <h4 class="m-b-0 card-title card-title-custome">{{'common.search' | translate}}</h4>
              </div>
              <div class="card-body">
                <form class="form-horizontal m-t-30" (ngSubmit)="searchDataRegis(null)" novalidate
                  [formGroup]="searchForm">
                  <div class="form-group row">
                    <label class="col-md-2 lbl-custome">{{'home.search.fileCode' | translate}}</label>
                    <div class="col-md-4">
                      <input type="text" class="form-control"
                        placeholder="{{'home.search.placeholder.fileCode' | translate}}" formControlName="fileCode">
                    </div>
                    <label class="col-md-2 lbl-custome">{{'home.search.status' | translate}}</label>
                    <div class="col-md-4" tooltip="Lựa chọn trạng thái hồ sơ">
                      <select class="form-control selectpicker" formControlName="status"
                        data-none-results-text="Không tìm thấy kết quả" data-live-search="true">
                        <option value="">{{'home.search.placeholder.selectAll' | translate}}</option>
                        <option *ngFor="let stt of lstStatus" [ngValue]="stt.codeStatus">{{stt.nameStatus}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-2 lbl-custome">{{'home.search.dateFrom' | translate}}</label>
                    <div class="col-md-4">
                      <div class="input-group">
                        <input type="text" class="form-control datepicker"
                          placeholder="{{'home.search.placeholder.date' | translate}}" bsDatepicker
                          #dpFrom="bsDatepicker" formControlName="dateFrom">
                        <div class="input-group-append">
                          <button class="waves-effect waves-light input-group-text input-group-custome"
                            (click)="dpFrom.show()">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <label class="col-md-2 lbl-custome">{{'home.search.dateTo' | translate}}</label>
                    <div class="col-md-4">
                      <div class="input-group">
                        <input type="text" class="form-control datepicker"
                          placeholder="{{'home.search.placeholder.date' | translate}}" bsDatepicker #dpTo="bsDatepicker"
                          formControlName="dateTo">
                        <div class="input-group-append">
                          <button class="waves-effect waves-light input-group-text input-group-custome"
                            (click)="dpTo.show()">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group text-center">
                    <button tooltip="Tìm kiếm hồ sơ" type="submit" class="btn btn-primary" (click)="searchDataRegis(null)">
                      <i class="fa fa-search"></i>
                      {{'common.btn.search' | translate}}
                    </button>&nbsp;
                    <button tooltip="Thêm mới hồ sơ" type="button" class="btn btn-success" (click)="clickAddRegis(null)">
                      <i class="fa fa-plus-circle"></i>
                      {{'common.btn.add' | translate}}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-md-12 grid-margin stretch-card frm-primary">
            <div class="card">
              <div class="card-header card-custome">
                <h4 class="m-b-0 card-title">{{'common.result' | translate}}</h4>
              </div>
              <div class="card-body">
                <!-- pagination -->
                <div class="form-group row">
                  <div class="pagination-custome col-md-12">
                    <span class="search-title">{{'common.total' | translate}} <span
                        class="fw-bold">{{totalRecord}}</span> {{'common.record' | translate}}</span>
                    <pagination class="pagi" [totalItems]="totalRecord" [itemsPerPage]="size" previousText="Trang trước"
                      nextText="Trang sau" firstText="Trang đầu" lastText="Trang cuối" [boundaryLinks]="true"
                      [maxSize]="maxPageView" [(ngModel)]="page" (pageChanged)="searchDataRegis($event)">
                    </pagination>
                  </div>
                </div>
                <!-- end pagination -->

                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-custome">
                    <thead>
                      <tr>
                        <td class="text-center w1">STT</td>
                        <td class="text-center w5">Lịch sử</td>
                        <td class="text-center">Mã hồ sơ</td>
                        <td class="text-center w15">Ngày tạo</td>
                        <td class="text-center w15">Ngày xác nhận</td>
                        <td class="text-center">Trạng thái hồ sơ</td>
                        <td class="text-center w10">Chức năng</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of lstRecord;index as i">
                        <td style="vertical-align: middle;" class="text-center">{{((page-1)*size)+(i+1)}}</td>
                        <td class="text-center"><a href="javascript: void(0);" tooltip="Lịch sử hồ sơ"><i class="fa fa-history"
                              aria-hidden="true"></i></a></td>
                        <td style="vertical-align: middle;">{{item.maHoso}}</td>
                        <td style="vertical-align: middle;" class="text-center">{{item.ngayTao | date: 'dd/MM/yyyy'}}
                        </td>
                        <td style="vertical-align: middle;" class="text-center">
                          {{item.ngayPheduyet | date: 'dd/MM/yyyy'}}</td>
                        <td style="vertical-align: middle;">{{item.tenTrangthai}}</td>
                        <td style="vertical-align: middle;">
                          <ul class="nav list-inline text-center action-search">
                            <li (click)="clickAddRegis(item)" tooltip="Sửa hồ sơ" style="color:dodgerblue"><i
                                class="fa fa-pencil-square-o" aria-hidden="true"></i></li>
                            <li (click)="clickXinrut(item)" tooltip="Xin rút hồ sơ" style="color:dodgerblue"><i
                                class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></li>
                            <li *ngIf="item.maTrangthai == 0" (click)="deleted(item)" tooltip="Xóa hồ sơ"
                              style="color:red"><i class="fa fa-trash-o" aria-hidden="true"></i></li>
                          </ul>
                        </td>
                      </tr>
                      <tr *ngIf="lstRecord.length==0">
                        <td class="text-center" colspan="7">{{'common.no_record' | translate}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- footer -->
      <!-- <app-footer></app-footer> -->
    </div>
  </div>
</div>
