<!-- loading -->
<!-- <div class="loading" *ngIf="loading">Loading&#8230;</div> -->

<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <div class="main-panel main-panel-custome">
      <app-header></app-header>
      <div class="content-wrapper">

        <!-- todo -->
        <div class="row">
          <nav aria-label="breadcrumb" class="bre-custome" role="navigation">
            <ol class="breadcrumb breadcrumb-custom bre-background">
              <li class="breadcrumb-item"><a href="/">{{'pro.home' | translate}}</a></li>
            </ol>
          </nav>
        </div>


      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
