body{background: #FFF;font: Arial, Helvetica, Verdana, sans-serif;}
.banner{background: url(../../../assets/images/bg_header.png) no-repeat center top;}
.logo{padding: 10px;margin-right: 8px;}
.quoc-huy{vertical-align: middle;}
.slogan{text-transform: uppercase;margin:15px 0px;}
.slogan-1{float: left;color: #cc0000;font-size: 18px;text-transform: uppercase;}
.slogan-2{font-size: 20px;color: #23527c;text-transform: uppercase;float: left;}
