.bg-gradient-danger {
  background: linear-gradient(87deg, #4b67e6 0, #4b67e6 100%) !important;
}
.table-custome {
  thead {
    background: #4b67e6 !important;
    color: #fff;
  }
}

.tablefooter {
  top: 15px !important;
}

.colorCustom-8 {
  background-color: #fcbdc8;
}
.colorCustom-6 {
  background-color: #fcbdc8;
}
.colorCustom-5 {
  background-color: #fcbdc8;
}
.colorCustom-2 {
  background-color: #9df0cd;
}
